/*
dropdeadbox styles
*/


/*
FONTS
*/

@font-face {
    font-family: 'montserratblack';
    src: url('Montserrat-Black-webfont.eot');
    src: url('Montserrat-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Montserrat-Black-webfont.woff2') format('woff2'),
         url('Montserrat-Black-webfont.woff') format('woff'),
         url('Montserrat-Black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('Montserrat-Bold-webfont.eot');
    src: url('Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Montserrat-Bold-webfont.woff2') format('woff2'),
         url('Montserrat-Bold-webfont.woff') format('woff'),
         url('Montserrat-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('Montserrat-Regular-webfont.eot');
    src: url('Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Montserrat-Regular-webfont.woff2') format('woff2'),
         url('Montserrat-Regular-webfont.woff') format('woff'),
         url('Montserrat-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrathairline';
    src: url('Montserrat-Hairline-webfont.eot');
    src: url('Montserrat-Hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('Montserrat-Hairline-webfont.woff2') format('woff2'),
         url('Montserrat-Hairline-webfont.woff') format('woff'),
         url('Montserrat-Hairline-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('Montserrat-Light-webfont.eot');
    src: url('Montserrat-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Montserrat-Light-webfont.woff2') format('woff2'),
         url('Montserrat-Light-webfont.woff') format('woff'),
         url('Montserrat-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html {
    width: 100%;
    height: 100%;    
    font-size: 62.5%; /* definiert 1rem als 10px */
    margin: 0;
    padding: 0;
    color: white;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../img/volcano.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

h1 {
    font-family: 'montserratbold', arial;
    font-weight: normal;
    font-style: normal;
    font-size: 8rem;
    line-height: 1;
    margin-bottom: 50px;
    margin-top: 0px;
    position: relative;
    z-index: 500;
}

#prey {
	position: absolute;
	top: -600px;
}

#balken {
    width: 100%;
    height: 200px;
    background: url('../img/volcano.gif');
    /*background: lime;
    */
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-position: center bottom;
}